<div class="container">
  <div class="row">

    <script type="text/javascript">var submitted=false;</script>
    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
    onload="if(submitted) {var ssformH = $('.ss-form').height() ;$('.ss-form').html('<center><h1 style=\'color:white;\'>Thank you for entering!</h1>').css('height',ssformH);}"></iframe>

    <div class="ss-form padding1">
      <form class="form-horizontal" action="https://docs.google.com/a/trendsettermarketing.net/forms/d/1PgK78qW9rNTG4ykCftxfy_wFJr4uNLdC7_gM0bEWt5c/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="return validateForm();">
        <ol role="list" class="ss-question-list" style="padding-left: 0">
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1397525092">
                  <div class="ss-q-title">First Name</div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label>
                <input type="text" name="entry.1397525092" value="" class="ss-q-short form-control" id="entry_1397525092" dir="auto" aria-label="Name  " title="">
                <div class="error-message" id="559195773_errorMessage"></div>
                <div class="required-message">This is a required question</div>
              </div>
            </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1764244229">
                  <div class="ss-q-title">Parent’s Email Address<br><span>(Parents, Enter your own email address)<span></div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label>
                <input type="text" name="entry.1764244229" value="" class="ss-q-short form-control" id="entry_1764244229" dir="auto" aria-label="Email  " title="">
                <div class="error-message" id="1039066361_errorMessage"></div>
                <div class="required-message">This is a required question</div>
              </div>
            </div>
          </div>
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-checkbox">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1850010119">
                  <div class="ss-q-title"></div>
                  <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
                </label>
                <ul class="ss-choices" role="group" aria-label="  ">
                  <li class="ss-choice-item">
                    <label>
                      <span class="ss-choice-item-control goog-inline-block">
                        <input type="checkbox" name="entry.626803144" value="I acknowledge that I have read, understand and agree to the Official Rules and the Terms of Use" id="group_626803144_1" role="checkbox" class="ss-q-checkbox">
                      </span>
                      <span class="ss-choice-label">I acknowledge that I have read, understand and agree to the <a href="https://s3.amazonaws.com/myfangate.com/rdredcarpet/rdmabigviprules.pdf" target="_blank">Official Rules</a> and the Terms of Use</span>
                    </label>
                  </li>
                </ul>
                <div class="error-message" id="1850010119_errorMessage"></div>
                <div class="required-message">This is a required question</div>
              </div>
            </div>
          </div>
          <p class="disclaimer">NO PURCHASE NECESSARY. Void where prohibited. Many will enter, few will win. Ends 4/12/15. Open to legal residents of 50 U.S. and D.C., ages 6 to 18 or parents of kids 6-18. Grand prize winner must travel by 4/24/15. See Radio Disney app for complete rules.</p>
          <input type="hidden" name="draftResponse" value="[,,&quot;-3686362132302374026&quot;]">
          <input type="hidden" name="pageHistory" value="0">
          <input type="hidden" name="fbzx" value="-3686362132302374026">
          <div class="ss-item ss-navigate">
            <table id="navigation-table">
              <tbody>
                <tr>
                  <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                    <input type="submit" name="submit" value="" id="ss-submit" class="jfk-button jfk-button-action rdsubmit">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ol>
      </form>
    </div>
  </div>
</div>
