---
title: RD Nabi Red Carpet
---


<div class="wrap">
  <img class="fullw header" src="https://s3.amazonaws.com/myfangate.com/rdredcarpet/header.jpg">
  <img class="fullw padding1" src="https://s3.amazonaws.com/myfangate.com/rdredcarpet/headline.png">
  <div class="photo-wrap">
    <img class="fullw padding2 rotate" src="https://s3.amazonaws.com/myfangate.com/rdredcarpet/polaroid.jpg">
  </div>
  <img class="fullw padding1" src="https://s3.amazonaws.com/myfangate.com/rdredcarpet/prizing.png">
  <div class="divider"></div>
  <%= partial 'gform' %>
  <div class="rules fullw text-center"><a href="https://s3.amazonaws.com/myfangate.com/rdredcarpet/rdmabigviprules.pdf" target="_blank">OFFICIAL RULES</a></div>
  <div class="overlay"></div>
  <div class="copyright">
    <img src="https://s3.amazonaws.com/myfangate.com/rdredcarpet/thisisliterally13pxwide.png">
  </div>
</div>
